.header-order {
    background-color: #121212;
    padding: 3.5rem 0;
    // .header-order__content-box

    &__content-box {
        align-items: center;
        display: flex;
        gap: 8.1rem;
        @include small-tablet {
            flex-direction: column-reverse;
        }
    }

    // .header-order__btn-box

    &__btn-box {
    }

    // .header-order__btn

    &__btn {
    }

    // .header-order__content

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem 8.1rem;
        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 5rem;
        }
    }

    // .header-order__content-item

    &__content-item {
        justify-content: space-between;
        display: flex;
    }

    // .header-order__member

    &__member {
    }

    // .header-order__member-text

    &__member-text {
    }

    // .header-order__text

    &__text {
        font-size: 1.6rem;
        opacity: 0.4;
        @include small-tablet {
            font-size: 3.2rem;
        }
    }

    // .header-order__member-count

    &__member-count {
    }

    // .header-order__count

    &__count {
        font-size: 1.6rem;
        @include small-tablet {
            font-size: 3.2rem;
        }
    }

    // .header-order__course

    &__course {
    }

    // .header-order__course-text

    &__course-text {
    }

    // .header-order__course-count

    &__course-count {
    }

    // .header-order__earned

    &__earned {
        width: 27.9rem;
        @include small-tablet {
            width: 100%;
        }
    }

    // .header-order__earned-text

    &__earned-text {
        padding: 0 3rem 0 0;
    }

    // .header-order__earned-count

    &__earned-count {
    }

    &__progress-text {
        display: flex;
        justify-content: space-between;
    }

    // .header-order__progress

    &__progress {
        gap: 0.5rem;
        @include small-tablet {
            gap: 1.5rem;
        }
    }
}

.header-order__progress {
    position: relative;
    display: flex;
    flex-direction: column;
}

progress {
    border-radius: 5rem;
    width: 71.4rem;
    height: 0.8rem;
    background-color: #ddd;
    // transition: width 300ms ease;
}
progress[value]::-webkit-progress-bar {
    width: 71.4rem;
    border-radius: 5rem;
    height: 0.8rem;
    background-color: #ddd;
    // transition: width 300ms ease;
}
progress[value]::-webkit-progress-value {
    width: 0;
    border-radius: 5rem;
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
    transition: width 300ms ease;
}
