.learn {
    // .learn__container
    padding: 23.1rem ;
    &__container {
    }

    // .learn__inner

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8rem;
    }

    // .learn__title-box

    &__title-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 3rem;
    }

    // .learn__title-img-box

    &__title-img-box {
        width: 9rem;
        height: 4.4rem;
        @include small-tablet {
            width: 18rem;
            height: 8.8rem;
        }
        & svg {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    // .learn__title

    &__title {
        font-weight: 700;
        font-size: 4.8rem;
        @include small-tablet {
            font-size: 9.6rem;
        }
    }

    // .learn__title-desc

    &__title-desc {
        font-size: 1.6rem;
        line-height: 160%;
        opacity: 0.5;
        width: 41.1rem;
        @include small-tablet {
            width: 100%;
            font-size: 3.2rem;
        }
    }

    // .learn__list

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 0.6rem;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 0.6rem;
            height: 100%;
            top: 0;
            bottom: 0;
            background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
            left: 50%;
            transform: translateX(-50%);
            @include small-tablet {
                width: 1.2rem;
            }
        }
    }

    // .learn__list-item

    &__list-item {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 4rem;
            height: 0.1rem;
            background-color: $white;
            opacity: 0.3;
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(odd) {
            text-align: right;
            padding-right: 6rem;
            grid-column: 1/2;
            &::before {
                right: 0;
            }
        }
        &:nth-child(even) {
            padding-left: 6rem;
            grid-column: 2/3;
            &::before {
                left: 0;
            }
        }
        @for $i from 1 through 1000 { // установите максимальное значение для гарантированного покрытия
            &:nth-child(#{$i}) {
              grid-row: #{$i}/#{$i + 1};
            }
          }
    }

    // .learn__item-time

    &__item-time {
        font-size: 1.4rem;
        opacity: 0.5;
        line-height: 160%;
        @include small-tablet {
            width: 100%;
            font-size: 2.8rem;
        }
    }

    // .learn__item-desc

    &__item-desc {
        font-size: 1.8rem;
        line-height: 160%;
        width: 22.8rem;
        @include small-tablet {
            width: 100%;
            font-size: 3.2rem;
        }
    }
}
.container {
}
