.preloader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: $black;
    display: flex;
    place-items: center;
    place-content: center;
    opacity: 1;
    transition: all 0.3s;
    & svg {
        width: 102px;
        height: 102px;
        & path {
            stroke: $Purple;
        }
    }
    & .small-circle {
        stroke-dasharray: 210;
        stroke-dashoffset: 210;
        transform-origin: 50%;
        animation: 1s draw-small infinite alternate;
    }
    @keyframes draw-small {
        0% {
            stroke-dashoffset: 0;
            transform: rotate(0deg);
        }
        100% {
            stroke-dashoffset: 210;
            transform: rotate(360deg);
        }
    }
    & .big-circle {
        stroke-dasharray: 240;
        stroke-dashoffset: 240;
        transform-origin: 50%;
        animation: 1s draw-big infinite alternate 0.5s;
    }
    @keyframes draw-big {
        0% {
            stroke-dashoffset: 0;
            transform: rotateY(180deg) rotate(360deg);
        }
        100% {
            stroke-dashoffset: 240;
            transform: rotateY(180deg) rotate(0deg);
        }
    }
    &-remove {
        display:none;
        opacity: 0;
        z-index: -100;
    }
}