.quick-start {
    // .quick-start_title

    &_title {
        font-weight: 700;
        font-size: 4.8rem;
        @include small-tablet {
            font-size: 9.6rem;
            text-align: center;
        }
    }

    // .quick-start__container

    &__container {
    }

    // .quick-start__inner

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }

    // .quick-start__top

    &__top {
        display: flex;
        flex-direction: column;
        gap: 4.9rem;
    }

    // .quick-start__title-box

    &__title-box {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    // .quick-start__title-img

    &__title-img {
        width: 7.8rem;
        height: 7.8rem;
        @include small-tablet {
            display: none;
        }
    }

    // .quick-start__desc

    &__desc {
        font-size: 1.6rem;
        opacity: 0.5;
        width: 41.1rem;
        line-height: 160%;
        @include small-tablet {
            width: 100%;
            font-size: 3.2rem;
            text-align: center;
        }
    }

    // .quick-start__content

    &__content {
        display: flex;
        @include small-tablet {
            flex-direction: column;
            gap: 3rem;
        }
    }

    // .quick-start__content-item

    &__content-item {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &:nth-child(1) {
            & .quick-start__content-progress {
                & .quick-start__content-progress-bar {
                    height: 8rem;
                    @include small-tablet {
                        width: 8rem;
                        height: 100%;
                    }
                }
            }
        }
        &:nth-child(2) {
            & .quick-start__content-progress {
                transform: rotate(180deg);
                & .quick-start__content-progress-bar {
                    height: 6rem;
                    @include small-tablet {
                        width: 6rem;
                        height: 100%;
                        
                    }
                }
            }
        }
        &:nth-child(3) {
            & .quick-start__content-progress {
                & .quick-start__content-progress-bar {
                    height: 4rem;
                    @include small-tablet {
                        width: 4rem;
                        height: 100%;
                    }
                }
            }
        }
        &:nth-child(4) {
            & .quick-start__content-progress {
                transform: rotate(180deg);
                & .quick-start__content-progress-bar {
                    height: 2rem;
                    @include small-tablet {
                        width: 2rem;
                        height: 100%;
                    }
                }
            }
        }
        @include small-tablet {
            flex-direction: row;
        }
    }

    // .quick-start__content-procent

    &__content-procent {
        font-weight: 700;
        font-size: 3.6rem;
        @include small-tablet {
            height: 100%;
            width: 6rem;
        }
    }

    // .quick-start__content-progress

    &__content-progress {
        width: calc(100% + 0.1rem);
        margin: 0 -0.1rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include small-tablet {
            height: auto;
            margin: -1.55rem -0.1rem;
            }
    }

    // quick-start__content-progress-bar

    &__content-progress-bar {
        background: linear-gradient(90deg, #c89afc 0%, #7c6afa 100%);
        width: 100%;
        display: block;
        @include small-tablet {
            background: linear-gradient(180deg, #c89afc 0%, #7c6afa 100%);
            }
    }

    // .quick-start__content-text

    &__content-text {
        padding: 3.5rem 0 0 0;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 160%;
        opacity: 0.5;
        margin: 0 1.8rem 0 0;
        @include small-tablet {
        padding: 0;
        margin:0.18rem;
        font-size: 2.8rem;
        }
    }
}
