<section class="header-order">
    <div class="container header-order__container">
        <div class="header-order__content-box">
            <div class="header-order__btn-box">
                <button class="header-order__btn red-btn">Заказать курс</button>
            </div>
            <div class="header-order__content">
                <div class="header-order__content-item header-order__member">
                    <p class="header-order__member-text header-order__text">Учеников всего:</p>
                    <p class="header-order__member-count header-order__count">200</p>
                </div>
                <div class="header-order__content-item header-order__earned">
                    <p class="header-order__earned-text header-order__text">Заработано учениками:</p>
                    <p class="header-order__earned-count header-order__count">400 000₽</p>
                </div>
                <div class="header-order__content-item header-order__course">
                    <p class="header-order__course-text header-order__text">Успешно закончили курс:</p>
                    <p class="header-order__course-count header-order__count">190</p>
                </div>
                <div class="header-order__content-item header-order__progress">
                    <progress id="progress-bar" value="40" max="100"></progress>
                    <div class="header-order__progress-text">
                        <p class="header-order__text">0</p>
                        <p class="header-order__text">1 000 000₽</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
