<section class="main-hero" id="main-hero">
    <div class="container">
        <div class="main-hero__content">
            <h1 class="main-hero__title title">Первый курс по компьютерной сборке</h1>
            <ul class="main-hero__date-counter">
                <li class="main-hero__date-counter-item">
                    <p class="main-hero__date-counter-number clock-days" id = "days">&nbsp;</p>
                    <p class="main-hero__date-counter-text" id = "daysText">Дней</p>
                </li>
                <li class="main-hero__date-counter-item">
                    <p class="main-hero__date-counter-number clock-hours" id = "hours">&nbsp;</p>
                    <p class="main-hero__date-counter-text" id = "hoursText">Часов</p>
                </li>
                <li class="main-hero__date-counter-item">
                    <p class="main-hero__date-counter-number clock-minutes" id = "minutes">&nbsp;</p>
                    <p class="main-hero__date-counter-text" id = "minutesText">Минут</p>
                </li>
                <li class="main-hero__date-counter-item">
                    <p class="main-hero__date-counter-number clock-seconds" id = "seconds">&nbsp;</p>
                    <p class="main-hero__date-counter-text" id = "secondsText">Секунд</p>
                </li>
            </ul>
        </div>
    </div>
</section>
