<section class="main-hero" id="main-hero">
    <div class="container">
        <div class="main-hero__content">
            <h1 class="main-hero__title title">Первый курс по компьютерной сборке</h1>
            <ul class="main-hero__date-counter">
                <li class="main-hero__date-counter-item">
                    <p class="main-hero__date-counter-number">18</p>
                    <p class="main-hero__date-counter-text">Дней</p>
                </li>
                <li class="main-hero__date-counter-item">
                    <p class="main-hero__date-counter-number">18</p>
                    <p class="main-hero__date-counter-text">Часов</p>
                </li>
                <li class="main-hero__date-counter-item">
                    <p class="main-hero__date-counter-number">18</p>
                    <p class="main-hero__date-counter-text">Минут</p>
                </li>
                <li class="main-hero__date-counter-item">
                    <p class="main-hero__date-counter-number">18</p>
                    <p class="main-hero__date-counter-text">Секунд</p>
                </li>
            </ul>
        </div>
    </div>
</section>
