<section class="partners" id="partners">
    <div class="container partners__container">
        <div class="partners__inner">
            <div class="partners__title-box">
                <div class="partners__title-img-box">
                    <img class="partners__title-img" src="./assets/images/quick-start_title.svg" alt="">
                </div>
                <h2 class="partners__title">Партнеры - топовые бренды</h2>
            </div>
            <div class="partners__label-box">
                <div class="partners__label-item">
                    <div class="partners__label-img-box">
                        <img src="./assets/images/partners-img.png" alt="">
                    </div>
                </div>
                <div class="partners__label-item">
                    <div class="partners__label-img-box">
                        <img src="./assets/images/partners-img.png" alt="">
                    </div>
                </div>
                <div class="partners__label-item">
                    <div class="partners__label-img-box">
                        <img src="./assets/images/partners-img.png" alt="">
                    </div>
                </div>
                <div class="partners__label-item">
                    <div class="partners__label-img-box">
                        <img src="./assets/images/partners-img.png" alt="">
                    </div>
                </div>
                <div class="partners__label-item">
                    <div class="partners__label-img-box">
                        <img src="./assets/images/partners-img.png" alt="">
                    </div>
                </div>
                <div class="partners__label-item">
                    <div class="partners__label-img-box">
                        <img src="./assets/images/partners-img.png" alt="">
                    </div>
                </div>
                <div class="partners__label-item">
                    <div class="partners__label-img-box">
                        <img src="./assets/images/partners-img.png" alt="">
                    </div>
                </div>
                <div class="partners__label-item">
                    <div class="partners__label-img-box">
                        <img src="./assets/images/partners-img.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>