<section class="quick-start">
    <div class="container quick-start__container">
        <div class="quick-start__inner">
            <div class="quick-start__top">
                <div class="quick-start__title-box">
                    <img src="./assets/images/quick-start_title.svg" alt="" class="quick-start__title-img" />
                    <h2 class="quick-start_title">Быстрый старт</h2>
                </div>
                <p class="quick-start__desc">
                    Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер
                </p>
            </div>
            <div class="quick-start__content">
                <div class="quick-start__content-item">
                    <p class="quick-start__content-procent">100%</p>
                    <div class="quick-start__content-progress">
                        <span class="quick-start__content-progress-bar"></span>
                    </div>
                    <p class="quick-start__content-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
                        accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat
                        dui.
                    </p>
                </div>
                <div class="quick-start__content-item">
                    <p class="quick-start__content-procent">75%</p>
                    <div class="quick-start__content-progress">
                        <span class="quick-start__content-progress-bar"></span>
                    </div>
                    <p class="quick-start__content-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
                        accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat
                        dui.
                    </p>
                </div>
                <div class="quick-start__content-item">
                    <p class="quick-start__content-procent">50%</p>
                    <div class="quick-start__content-progress">
                        <span class="quick-start__content-progress-bar"></span>
                    </div>
                    <p class="quick-start__content-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
                        accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat
                        dui.
                    </p>
                </div>
                <div class="quick-start__content-item">
                    <p class="quick-start__content-procent">Итог</p>
                    <div class="quick-start__content-progress">
                        <span class="quick-start__content-progress-bar"></span>
                    </div>
                    <p class="quick-start__content-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
                        accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat
                        dui.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
